/Day 25/new_data.csv
/Day 25/states_to_learn.csv
/Day 29/password_manager_data.txt
/Day 31/data/words_to_learn.csv
*.env
/token.txt
/Day 49/chrome_profile/
/Day 50/chrome_profile/
/Day 51/chrome_profile/
/Day 52/chrome_profile/
Day 10/__pycache__/arts.cpython-314.pyc
Day 11/__pycache__/arts.cpython-314.pyc
Day 12/__pycache__/arts.cpython-314.pyc
Day 13/__pycache__/maths.cpython-314.pyc
Day 14/__pycache__/arts.cpython-314.pyc
Day 14/__pycache__/game_data.cpython-314.pyc
Day 15/__pycache__/data.cpython-314.pyc
Day 16/imported/__pycache__/coffee_maker.cpython-314.pyc
Day 16/imported/__pycache__/menu.cpython-314.pyc
Day 16/imported/__pycache__/money_machine.cpython-314.pyc
Day 17/imported/__pycache__/data.cpython-314.pyc
Day 17/imported/__pycache__/question_model.cpython-314.pyc
/Day 60/blog/static/css/styles.css
/Day 59/upgraded blog/static/css/styles.css
/Day 63/books-collection.db
/Day 63/instance/
/Day 67/static/
/Day 67/instance/
/Day 68/static/css/
